@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Arca, Zpark<br />
    Building 15<br />
    Phone: 010-62674452
</address>

<address>
    <strong>Support:</strong> <a href="mailto:can.zhang@tr.com">can.zhang@tr.com</a><br />
</address>
