@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>@User.FindFirst("name")?.Value</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Logout">@SharedHtmlLocalizer["Logout"]</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Home" asp-action="Login">@SharedHtmlLocalizer["Login"]</a></li>
    </ul>
}