@model ProjectAssignmentViewModel

<form asp-action="AssignToTeam" role="form">
    @await Html.PartialAsync("_ModalHeader", "Assign Items To Team")
    <div class="modal-body form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="AssignedItemsCount" class="control-label"></label>
                    <input asp-for="AssignedItemsCount" class="form-control" />
                    <span asp-validation-for="AssignedItemsCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeamId" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="TeamId" asp-items="@Model.Teams" class="form-control">
                            <option>Please select</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter")
</form>
